body {
    background-color: #1e2426;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
    margin: 0 auto;
    height: 100vh;
    display: flex;
    /* structurer le body en colonne */ 
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}

main {
    /* scroll apparait quand contenu dépasse du navigateur */ 
    overflow: scroll;
}

section {
    overflow: scroll;
    /* pour centrer la section par rapport au main */ 
    padding: 0 50px 0 50px;
    /* pour envelopper les items et permettrent le retour à la ligne */ 
    display: flex;
    flex-flow : row wrap;
    /* la section prend tout le reste de la hauteur du navigateur */ 
    flex-grow: 1;
    /* items are evenly distributed in the line with equal space around them */
    justify-content: space-around;
}

section article {
    width: 215px;
    max-width: 215px;
    margin: 20px;
}

.main-detail {
    z-index:900;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
}

.detail-film {
    margin: 50px auto;
    width: 50%;
    background-color:#1e2426;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #394549;
    font-weight:bold;
}

.text-title {
    padding: 20px 0 0 20px;
    font-size:20px;
}

.detail-filmSyp {
    display: flex;
    flex-flow : row wrap;
    /* justify-content: flex-start; */
    justify-content: space-around;
    margin-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    width:90%;
}

.text-synopsis {
    margin-left:20px;
    font-weight:normal!important;
    text-align:justify;
    width: 70%;
}

.close-overlay {
    margin: 0 auto !important;
    height:40px;
    width:100%;
    background-color:#0a5d5d;
    position:relative;
    bottom:0px;
    display: flex;
    cursor:pointer;
    justify-content:center;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    align-items: center;
}

.border-image {
    overflow: hidden;
    margin: 0;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #394549;
    display: flex;
    border: solid 0px blue;
    transition: border 1s ease-out;
}
  
.border-image:hover { 
    border: solid 5px blue;
}

section article img {
    /* centre l'image verticalement dans la balise figure */ 
    align-self: center;
    -webkit-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
}

section article img:hover {
    cursor: pointer;
    transform: scale(1.5,1.5);
}

section article p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 500px) {
    p {
      font-size: 10px;
    }
    section article {
      max-width: 150px;
    }

    .text-synopsis {
        margin-left:0px;
        font-size:12px;
  }
}